.trending{
    width: 100%;
    margin-top: 60px;
    padding: 0 1.5%;
    display: flex;
    flex-direction: column;
        &__content{
            width: 100%;
            display:block;
                h1{
                    display: block;
                    width: 100%;
                    padding: 5px 10px;
                    color: $color; 

                }
                span{
                    display: block;
                    width: 100%;
                    padding: 5px 10px;
                    color: $color;
                }
            
        } 

        &__cont{
            width: 100%;
            padding:0 10px;
            display: flex;
            flex-wrap: wrap;    
        }

        &__card{
            width: 100%;
            max-width: 400px;
            height: 350px;
            border-radius: 5px;
            margin:10px auto 30px auto;
            background: url('../img/naruto-shippden.jpg') no-repeat center/cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; 
            .card_top{
                width: 100%;
                padding: 10px;
                background: linear-gradient(to bottom, #22222277 50%, transparent); 
            }
        }
        &__text{
            width: 80%;
            padding: 10px;
            background-color: $blue-bold;
            color: $color;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 10px;

                h3{ 
                    margin: 5px 0;
                }

                a.btn, .btn{
                    width: 100%;
                    padding:5px 0;
                    font-weight: 600;
                    font-size: 1rem;
                    background-color: $logo-color-red;
                    display:block; 
                    color: $black;
                    text-align: center;                   
                }
            
        }
        .aside{
            width: 100%;
            min-height: 100%;
            display:block;
            color: $color;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                        li{
                            margin-left:10px; 
                            margin-bottom:10px;
                        }
                    
                } 

                &__cont{ 
                    background-color: $blue-bold; 
                    padding: 10px;
                }

                &__card{
                    width: 100%;
                    height: 200px;
                    background: url('../img/naruto-shippden.jpg') no-repeat center/cover;
                    border-radius: 5px;
                    margin:10px 0;
                }


        }

        .new{
            
            &__card{
                width: 100%;
                height: 150px;
                display: flex;
                border-radius: 0 5px 5px 0;
                margin:10px 0;
                background-color: $blue-bg;
            }

            &__image{
                width: 30%;
                height: 100%;
                border-radius: 5px 0 0 5px;
                background: url('../img/naruto-shippden.jpg') no-repeat center/cover;
            }

            &__text{
                width: 70%;
                height: 100%;
                border-radius: 0 5px 5px 0;
                padding: 5px;
                display: flex;
                flex-direction: column; 
                position: relative;
                justify-content: center;
                span{
                    margin-top: 5px;
                }
                p{
                    font-size: .9rem;
                    white-space: pre-line;
                    height: 62px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border-radius: 0 5px 5px 0;
                    margin:5px 0;
                }

            }

            &__tag{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 15px;
                top:10px; 
                font-size: .7rem;
                padding:0px 5px 3px 5px;
                border-radius: 5px;
                background-color: rgb(230, 77, 77); 
            }
        }
} 


@media screen and (min-width: 840px){

    .trending{
        padding: 0 6%;
        flex-direction: row;
            div{
                width: 90%;  
            }
            &__content{
                width: 100%; 
                display:block;
                    h1{
                        display: block;
                        width: 100%;
                        padding: 5px 10px;
                        color: $color;
    
                    }
                    span{
                        display: block;
                        width: 100%;
                        padding: 5px 10px;
                        color: $color; 
                    }
                
            } 
    


            .aside{
                width: 50%; 
            }

           
    } 

}


@media screen and (min-width: 1040px){

    .trending{
        padding: 0 6%;
        flex-direction: row;
            div{
                width: 100%;  
            }
            &__content{
                width: 100%; 

                display:block;
                    h1{
                        display: block;
                        width: 100%;
                        padding: 5px 10px;
                        color: $color; 
    
                    } 
                    span{
                        display: block;
                        width: 100%;
                        padding: 5px 10px;
                        color: $color; 
                    }
                
            } 
    
            &__cont{
                width: 100%;
                padding:0 10px;
                display: flex;
                flex-wrap: wrap;    
            }
    
            &__card{
                width: 100%;
                max-width: 250px; 
                height: 350px; 
                border-radius: 5px;
                margin:10px auto 30px 0;
                background: url('../img/naruto-shippden.jpg') no-repeat center/cover;
                position: relative;
                .card_top{
                    width: 100%;
                    padding: 10px;
                    background: linear-gradient(to bottom, #22222277 50%, transparent); 
                }

                
            }
            &__text{
                margin: 0 10px;
            }

            

            .aside{
                width: 35%; 
            }

           
    } 

}