@import '_variables.scss';
@import '_animacao.scss';
@import '_padrao.scss';
@import '_header.scss';
@import '_asideEndNow.scss';
@import 'footer.scss';
@import '_mainPlayer.scss';
@import '_comentariosPlayer.scss';
@import '_pageSearch.scss';
@import '_bannerLogin.scss';

